<div class="row">
  <div class="col s7">
    <div class="collection">
        <a href="#!" class="collection-item">
          {{#each studentContracts as |contractStudent|}}
            <div>
              Alvin perrooo {{idRecord}}
              <a href="##!" class="secondary-content"><i class="material-icons">send</i></a>
            </div>
          {{else}}
            nuhay
          {{/each}}
        </a>
      </div>
  </div>
</div>
