<div class="row">
  <div class="col s12">
    <h4> Dashboard </h4>
  </div>
</div>

{{#jquery-wrapper query='.parallax' method='parallax'}}
  <div class="parallax-container">
    <div class="parallax"><img src="/media/bg-3.jpg"></div>
  </div>
{{/jquery-wrapper}}
