<nav class="red lighten-1">
  <div class="row">
    <div class="col s12">
      <div class="nav-wrapper">
        <div class="col s12">
         {{#link-to 'auth.dashboard' class="breadcrumb"}}My English Academy {{/link-to}}
       </div>
       </div>
    </div>
  </div>
</nav>

<div class="row">
  <div class="col s10 offset-s1">
    <blockquote> <h4> Dashboard </h4> </blockquote>
  </div>
</div>

{{#jquery-wrapper query='.parallax' method='parallax'}}
  <div class="parallax-container">
    <div class="parallax"><img src="/media/bg-3.jpg"></div>
  </div>
{{/jquery-wrapper}}
