<nav class="red lighten-1">
  <div class="row">
    <div class="col s12">
      <div class="nav-wrapper">
        <div class="col s12">
         {{#link-to 'auth.dashboard' class="breadcrumb"}}My English Academy {{/link-to}}
         {{#link-to 'auth.contracts' class="breadcrumb"}}Contratos {{/link-to}}
       </div>
       </div>
    </div>
  </div>
</nav>

<div class="row">
  <div class="col s10 offset-s1">
    <h4> Contratos </h4>
  </div>
</div>

<div class="row">
  <div class="container col s10 offset-s1">
    <table>
        <thead>
          <tr>
              <th>Titular</th>
              <th>Fecha de Inicio</th>
              <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {{#each model as |contract|}}
            {{#unless  contract.isNew}}
              <tr>
                <td>{{contract.subscriber.name}}</td>
                <td>{{contract.contract_signature_date}}</td>
                <td>
                  {{#link-to 'auth.subscribers.edit' subscriber.id class="btn-floating blue darken-2"}}<i class="material-icons">edit</i>{{/link-to}}
                  <a class="btn-floating red darken-2"><i class="material-icons" {{action 'delete' subscriber}}>delete</i></a>
                </td>
              </tr>
            {{/unless}}
          {{else}}
            <tr>
              <td colspan="3">No hay contratos registrados.</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
  </div>
</div>
