<style class="text/css">
.centeredRow {
  margin:auto;
}
</style>
<div class="row centeredRow">
  <div class="col s6">
    {{#link-to 'auth.subscribers.edit' record.id class="btn-floating blue darken-2"}}<i class="material-icons">edit</i>{{/link-to}}
  </div>
  <div class="col s6">
    <a class="btn-floating red darken-2"><i class="material-icons" {{action 'sendAction' 'delete' record}}>delete</i></a>
  </div>
</div>
