<div class="row" style="margin:auto;">
  <div class="col s6">
    <a class="btn-floating light-blue darken-4"><i class="material-icons" {{action 'sendAction' 'edit' record}}>edit</i></a>
  </div>
  {{#if delete}}
    <div class="col s6">
      <a class="btn-floating red darken-3"><i class="material-icons" {{action 'sendAction' 'delete' record}}>delete</i></a>
    </div>
  {{/if}}
</div>
