<nav class="red lighten-1">
  <div class="row">
    <div class="col s12">
      <div class="nav-wrapper">
        <div class="col s12">
         {{#link-to 'auth.dashboard' class="breadcrumb"}}My English Academy {{/link-to}}
         {{#link-to 'auth.levels' class="breadcrumb"}} Niveles {{/link-to}}
       </div>
       </div>
    </div>
  </div>
</nav>

<div class="row">
  <div class="col s5 offset-s1">
    <blockquote> <h4> Niveles </h4> </blockquote>
  </div>
</div>

<div class="row">
  <div class="col s10 offset-s1">
    <div class="row">
      {{#each model as |course|}}
        {{level-card course=course}}
      {{else}}
        <h5>No se registran niveles.</h5>
      {{/each}}
    </div>
  </div>
</div>
